@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300&family=Pacifico&display=swap");

/* Styles for PC view */
.first {
    height: 100;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
}

.content_part {
    width: 50vw;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading h1 {
    width: 50%;
}

.text_head {
    font-weight: bold;
    font-size: 3rem;
    font-family: 'Lora', serif;
}

.tag {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.upper {
    display: flex;
}

.para p {
    width: 65%;
    margin-top: 5%;
    position: relative;
    bottom: 10%;
    font-family: 'Rubik', sans-serif;
}

.para {
    width: 50vw;
    margin-bottom: 5%;
}

.button {
    width: 20%;
    height: auto;
    padding: 10px 20px;
    background-color: #FE7B17;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.button:active {
    background-color: #003e80;
}

.dibba {
    width: 20vw;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* box-shadow: 2px 2px 20px; */
}

.lower {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wellbeing, .healthcare, .abuse, .donate {
    background-color: #333333;
    border-radius: 40px;
}

.donate:hover, .abuse:hover, .wellbeing:hover, .healthcare:hover {
    background-color: rgb(87, 86, 85);
}

a {
    text-decoration: none;
}

.category {
    width: 50%;
}

/* Media query for smaller screens */
@media (max-width: 900px) {
    .content_part {
        width: 80vw;
        padding-left: 5%;
    }

    .heading h1 {
        width: 80%;
    }

    .para p {
        width: 100%;
        bottom: 0;
    }

    .button {
        width: 30%;
    }
    .tag{
        font-size: 15px;
    }
    .dibba{
        display: flex;
        flex-direction: column-reverse;
    }

    .category {
        width: 80%;
    }
}
