
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; 
    color: #fff; 
  }

  .logo {
    width: 100px; 
    height: auto; 
  }
  

  .navbar-right ul {
    list-style: none; 
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-right li {
    margin-right: 20px; 
  }
  
  .navbar-right a {
    text-decoration: none; 
    color: #fff; 
    font-weight: bold; 
    font-size: 16px; 
  }

  .navbar-right a:hover {
    color: #ff4500; 
  }
  